* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #1b1717;
}

.root {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 120%;
}

.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 1200;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Kaushan Script", cursive;
}

.icons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.fa {
  padding: 1% 2%;
  transition: transform 0.4s;
}

.fa:hover {
  color: #ce1212;
  transform: scale(1.5);
  cursor: pointer;
}

.navbar ul {
  display: none;
  flex-direction: column;
}
.navbar li a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #ce1212;
}

.navbar {
  margin: 2% auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-bottom: 100px;
  max-height: 15%;
  background-color: aquamarine;
  position: relative;
}

.primary-links {
  width: 100%;
  display: flex;
  gap: 2%;
  margin: 10% auto;
  text-align: center;
  justify-content: center;
}
.primary-links a {
  text-decoration: none;
  background-color: #810000;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  padding: 20px;
  color: #eeebdd;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.primary-links a:hover {
  background-color: #ce1212;
}
#charity {
  background-color: #ce1212;
  color: #eeebdd;
  transition: transform 0.4s;
}

#charity:hover {
  transform: scale(1.5);
}

.tile {
  display: flex;
}

.tile img {
  padding: 10%;
  width: 100%;
}

.main-pictures img {
  width: 100%;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.second-section {
  margin: 5% auto;
}
.third-section {
  margin: 10% auto;
}
.herald-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
.tile {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.tile p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeebdd;
  color: #1b1717;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1.5px;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border: 2px solid;
}

.tile p:hover {
  opacity: 1;
  cursor: pointer;
  font-size: 1.5rem;
}

.news-container img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#tile1 {
  background-color: #ce1212;
}
#tile2 {
  background-color: #810000;
}
#tile3 {
  background-color: #810000;
}
#tile4 {
  background-color: #ce1212;
}

.hidden {
  display: none;
}

.news-container {
  position: relative;
}
.news-content {
  display: none;
}
.news-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 5%;
}
.news-date {
  display: none;
}

.news-header {
  position: absolute;
  top: 70%;
  left: 50%;
  min-width: 80%;
  transform: translate(-50%, -50%);
  background-color: #810000;
  color: #eeebdd;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  opacity: 0.7;
  text-align: center;
}

.footer p {
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  margin-bottom: 10%;
}
